.container {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 230px;
  min-height: 330px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  animation: pop-in 0.3s ease-in;
}
.container:hover {
  scale: 1.03;
}
.container__info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 7px 15px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  background: rgba(64, 64, 65, 0.74);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.span {
  margin-right: 20px;
}
.icon {
  margin-right: 10px;
  font-size: 1.4rem;
  filter: drop-shadow(0 0 10rem rgb(0, 0, 0));
  font-weight: bolder;
  color: white;
}
.container__profile {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
}
.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.h2 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bolder;
}
.p {
  color: #bec0c2;
  font-size: 1rem;
}
.b {
  color: #ffffff;

  font-style: italic;
}
.darkText {
  color: #ffffff;
}
.span {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
/* @keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
} */

@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.3); }
  100% { opacity: 1; transform: scale(1); }
  }