.main {
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(62, 138, 226, 0.61);
  padding: 1rem;
  border-radius: 1rem;
}
.main h1,
.main h2 {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0) -1px -1px 0px, rgb(0 0 0) -1px 1px 0px,
    rgb(0 0 0) 1px -1px 0px, rgb(0 0 0) 1px 1px 0px;
  text-decoration: none;
  text-align: center;
}
.link{
  color: aqua;
  text-decoration: none;
}